@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Easy steps: <br />
    <table>
        <tr>
            <td>
                1.) Register and/or log in
            </td>
        </tr>
        <tr>
            <td>
                2.) Click on "Beverages" on your top navigation bar
            </td>
        </tr>
        <tr>
            <td>
                3.) Your list is on this page for viewing. You may edit and delete items by
                 clicking on the buttons on the right of them.
            </td>
        </tr>
    </table>
</p>
