@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    Beverage Organizer Boulevard<br />
    Coruscant, 98742<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Questions</strong>   <a href="mailto:bcampbell5240@mail.kvcc.edu">bcampbell5240@mail.kvcc.edu</a><br />
</address>