@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BC Beverage Organizer</h1>
    <p class="lead">A utility to help organize your inventory of sweet, sweet drinks!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Simple</h2>
        <p>
            BC Beverage Organizer is simple: each item in a row and with three buttons if you need to edit, delete, or create a new one.
            Doesn't get easier than that.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Quick</h2>
        <p>Just register and log in and you're ready to go!</p>
    </div>
    <div class="col-md-4">
        <h2>Required for my class</h2>
        <p>David told me I had to edit this page!</p>
    </div>
</div>